---
import Layout from '../layouts/Layout.astro';
import data from '../../public/data.json';
import '../../assets/scss/astro-ecommerce.scss';
import Navbar from '../components/navbar';
import Footer from '../components/footer';

import CategoryFilters from '../components/products/categoryFilters';


let cartItems = [];
data.shoppingCart.map(id => 
  data.products.filter(x => x.id == id).map(x => cartItems.push(x))
)
let cartItems2 = [];
data.shoppingCart2.map(id => 
  data.products.filter(x => x.id == id).map(x => cartItems2.push(x))
)

// filter reviews with ID 01
let productReviews = data.reviews.filter(x => x.productID == "01");

let orderProducts = [];

data.orders[0].products.forEach(productDetails => {
  data.products.forEach(product => {
    if (product.id == productDetails.id) {
      orderProducts.push(product);
    }
  });
})

let orderHistoryProducts = new Set();

data.orders.forEach((order) => {
  order.products.forEach(productDetails => {
    data.products.forEach(product => {
      if (product.id == productDetails.id) {
        orderHistoryProducts.add(product);
      }
    });
  })
})

---

<script>
  function toggleHeart(e) {
    e.target.classList.toggle('fas');
    e.target.classList.toggle('far');
    e.target.classList.toggle('text-danger');
  }
  
  document.getElementById('heart1').addEventListener("click", toggleHeart);
</script>

<Layout title="Astro Ecommerce">
	<main>
    <Navbar />
    <div class="container mt-5">

      <div class="my-7">
        <CategoryFilters 
          title="Our products"
        />
      </div>

      
      <Footer />
    </div>
	</main>
</Layout>
